.contenido{
   
    &__div{
width: 80%;

        &--flex {
            display: flex;
        }
    }

}

.formulario-grid{
    padding: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: "texto formulario"; 
  }
  
  .texto { grid-area: texto; }
  .formulario { 
    display: flex;
    justify-items: left;
    grid-area: formulario;
    flex-direction: column;
    align-items: flex-start;
    grid-area: formulario; }
