.header {
    @include estilo($principal, $segundo, 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 10vh;

    a {
        text-decoration: none;
        color: $sexto;
        font-family: $titulos;

    }

    nav {
        width: 70%;
    }

    &__ul-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        font-weight: 500;
    }
}

//Media Querys

@media (max-width: 375px) {
    .header {
        @include estilo($principal, $segundo, 100%);
        flex-direction: column;
        height: 15vh;

        p a {
            font-size: xx-large;
        }
    
        &__ul-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

       nav {
        width: 85%;
        font-size: x-small;
    }

}