.contenido {

    &__planes {
        display: flex;
        background-color: $principal;
        padding-left: 9%;

        article {
            color: $quinto;
            display: flex;
            justify-content: right;
            background-color: $tercero;
            border-radius: 15px;
            padding: 2%;
            margin: 5%;

            div {
                background-color: $tercero;
                border-radius: 15px;
                padding: 2%;
            }

            img {
                width: 100%;

            }
        }

    }
}


.grid-planes {
    width: 80%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "imagen-planes titulo-planes"
        "imagen-planes texto-planes"
        "imagen-planes texto-planes";
}

.imagen-planes {
    width: 80%;
    padding-left: 10%;
    grid-area: imagen-planes;
}

.titulo-planes {
    padding-right: 8%;
    font-weight: 400;
    margin-top: 20%;
    grid-area: titulo-planes;
}

.texto-planes {
    background-color: $sexto;
    color: $quinto;
    border-radius: 20px;
    width: 80%;
    padding: 5%;
    height: fit-content;
    grid-area: texto-planes;
    font-size: x-large;
}


//Medias querys

@media (max-width: 375px) {

    .contenido {

        &__planes {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            article {
                display: flex;
                justify-content: center;
                width: 50%;
                flex-wrap: wrap;

                div {
                    background-color: $tercero;
                    border-radius: 15px;
                    padding: 2%;
                }

                img {
                    width: 100%;

                }
            }

        }
    }


    .grid-planes {
        display: flex;
        flex-direction: column;
    }

    .imagen-planes {
        width: 80%;
        padding-left: 0%;
        margin: auto;
    }

    .titulo-planes {
        padding-right: 0%;
        padding-bottom: 10%;
        margin: auto;
        font-weight: 400;
        margin-top: 20%;

    }

    .texto-planes {
        padding: 5%;
        height: fit-content;
        margin: auto;
        font-size: medium;
    
    }

}