.contenido {

    &__beneficios {
        h1 {
            padding-top: 7%;
        }
    }

    &__imagen-servicios {
        width: 80%;
        padding: 5%;
    }

    &__servicios {
        padding-left: 20%;
        margin: auto;

        div {
            background-color: $tercero;
            border-radius: 20px;
            padding: 2%;
            margin: 7%;

            article {
                padding: 10%;

                img {
                    width: 40%;
                }

                h3 {
                    font-family: $titulos;
                    color: $quinto;
                }
            }
        }
    }

}

//Grid

.grid-servicios {
    padding: 5% 0% 5% 3%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "servicios imagen-servicios imagen-servicios";
}

.servicios {
    grid-area: servicios;
}

.imagen-servicios {
    grid-area: imagen-servicios;
}

//Media Querys